.button {
  box-shadow: 0 2px 14px 0 rgba(117,182,252,0.40);
}

section {
    padding-top: 70px;
    padding-bottom: 70px;
}

#main-top-section {
  background: #302C69;
}

.left-section {
  padding-top: 170px;
  height: 480px;
}

.laptop-header-img {

  img {
    margin-left: -40px;
    position: absolute;
    width: 70%;
    height: auto;
  }
}

.angle-bottom-light img {
  margin-top: -1px;
}

.section2-header p{

}

.devices-mockup {

}
