.button {
  box-shadow: 0 2px 14px 0 rgba(117,182,252,0.40);
}

section {
    padding-top: 70px;
    padding-bottom: 70px;
}

#main-top-section {
  background: #302C69;
  .left-section {
    padding-top: 170px;
    height: 480px;
    .grid-x {
      margin-top: 30px;
    }
  }
}

#main-bottom-section {
  background: #302C69;
  margin-top: -2px;
  .left-section {
    margin-top: -120px;
  }
  .right-section {
    .grid-x {
      margin-top: 30px;
    }
  }
  img {
    transform: scale(1.2);
    margin-bottom: -16rem;
    position: relative;
    left: -1rem;
  }
}




.laptop-header-img {
  img {
    margin-left: -40px;
    position: absolute;
    width: 70%;
    height: auto;
  }
}

.angle-bottom-light img {
  margin-top: -1px;
}

.angle-top-light img {
  width: 100%;
}

.use-cases-header i {
  vertical-align: -15%;
  color: #4BA1FD;
  margin-top: 30px;
}

.section2-header p{

}

.devices-mockup {

}
