<navbar>
  <div data-sticky-container>
    <div class="" data-sticky data-options="marginTop:0;" style="width:100%">
      <div class="top-bar" id="responsive-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">PageFeed</li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><a href="#0">What's New</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="#0">Login</a></li>
            <li><button type="button" class="button" href="#">Free Sign-up</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</navbar>
